body{
   
  
    background-color: honeydew;
}

.container{
    margin-top: 50px;
    margin-bottom:50px;
    background-color:  rgba(113, 241, 227, 0.81); 
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Notable', sans-serif;
}

.h5-form{
    padding: 10px;
    text-align: center;
}

h5{
    padding:5px;
    font-family: 'Notable', sans-serif;
}

.questions{
    font-size: 20px;
}

.surveyBtn{
    text-align: center;
    margin: auto;
    padding: 15px;
}

.btn-primary:hover{
    background-color: rgb(62, 205, 15);
    color:black;
}