body {

    background-image: url("../images/background.jpeg");
}

.jumbotron{
    margin-top: 80px;
    border:10px solid rgb(79, 235, 214);
    
}

.display-4{
    font-family: 'Modak', cursive;
    font-size: 80px;
    color:black;
    text-align: center;
}

.lead{
    font-family: 'Notable', sans-serif;
    text-align: center;
}

.surveyBtn{
    font-family: 'Notable', sans-serif;
    text-align: center;
    margin: auto;
}



#btnSubmit:hover{
    font-family: 'Notable', sans-serif;
    background-color: rgb(62, 205, 15);
    color:black;
}


